@import "./../../../../assets/_variables";
@import "./../../../../assets/fonts/fonts";

.search {
    border-radius: 27px;
    background-color: white;
    border-color: $color_search_placeholder;
    box-shadow: 3px 3px 8px 2px;
    font-family: $font_small_retro;
    font-size: 18px;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.search:focus {
    border-color: $color_search_placeholder;
}

.search>input::placeholder {
    font-family: $font_small_retro;
    font-size: 0.8rem;
}

.search > input {
    border-style: none;
    padding: 0px;
    height: 100%;
    border-radius: 27px;
    padding: 0px 15px ;

}

.search > input:focus {
    border-color: white;
    box-shadow: none;
}



.search__icon {
    width: 45px;
    height: 45px;
    background-color:  $color_primary;
    color: white;
    border-style: none;
}

.search__icon:hover {
    background-color: $color_search_hover;
}
