@import "./../../../assets/_variables";
@import "./../../../assets/fonts/fonts";

.articles {
    color: $color_gray_100;
    font-family: $font_typewriter_thin;
}


@media screen and (max-width:991px) {
    .breakmark {
        display: none;
    }
}

.articles-header {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.56) 5%, rgb(0 0 0 / 55%) 100%), url(/assets/images/hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    background-color: $color_hero;
    margin-top: -3.5rem;
    &__title {
        color: $color_primary;
        font-family: $font_hight_retro;
        font-size: 2.2rem;
    }

    &__result-count {
        font-size: 1.8rem;
    }
}

