@font-face {
    font-family: "Retro Team";
    src: url(/assets/fonts/retro/RetroTeam.otf);
  }

  @font-face {
    font-family: "Plane Cash";
    src: url(/assets/fonts/plane_crash/PlaneCrash.ttf);
  }

  @font-face {
    font-family: "Mom Typewriter";
    src: url(/assets/fonts/moms_typewriter/Momt___.ttf);
  }
  