@font-face {
  font-family: "Retro Team";
  src: url(/assets/fonts/retro/RetroTeam.otf);
}

@font-face {
  font-family: "Plane Cash";
  src: url(/assets/fonts/plane_crash/PlaneCrash.ttf);
}

@font-face {
  font-family: "Mom Typewriter";
  src: url(/assets/fonts/moms_typewriter/Momt___.ttf);
}


@font-face {
  font-family: "Hornbil Black";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-Black.otf");
}

@font-face {
  font-family: "Hornbil Black";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-Black.otf");
}

@font-face {
  font-family: "Hornbil Black Italic";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-BlackItalic.otf");
}

@font-face {
  font-family: "Hornbil Bold";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-Bold.otf");
}


@font-face {
  font-family: "Hornbil Bold Italic";
  src: url("/assets/fonts/hornbill/Hornbill-Personal-Use-BoldItalic.otf");
}


@font-face {
  font-family: "BenjaminFranklin";
  src: url("./BenjaminFranklin.ttf");
}

@font-face {
  font-family: "KGRedHands";
  src: url("./kg_red_hands/KGRedHands.ttf");
}

@font-face {
  font-family: "KGRedHandsOutline";
  src: url("./kg_red_hands/KGRedHandsOutline.ttf");
}

@font-face {
  font-family: "JMH Typewriter black";
  src: url("./jmh_typewriter/JMH Typewriter-Black.otf");
}


@font-face {
  font-family: "JMH Typewriter bold";
  src: url("./jmh_typewriter/JMH Typewriter-Bold.ttf");
}

@font-face {
  font-family: "JMH Typewriter Thin";
  src: url("./jmh_typewriter/JMH Typewriter-Thin.ttf");
}


@font-face {
  font-family: "JMH Typewriter";
  src: url("./jmh_typewriter/JMH\ Typewriter.ttf");
}



$font_hight_retro: "Retro Team";
$font_small_retro: "Mom Typewriter";
$font_navbar: "Plane Cash";
$font_hornbil_black: "Hornbil Black";
$font_hornbil_black_italic: "Hornbil Black Italic";
$font_hornbil_bold: "Hornbil Bold";
$font_hornbil_bold_italic: "Hornbil Bold Italic";
$font_benjamin_franklin: "BenjaminFranklin";
$font_kg_red_hands: "KGRedHands";
$font_kg_red_hands_outline: "KGRedHandsOutline";
$font_typewriter: "JMH Typewriter";
$font_typewriter_thin: "JMH Typewriter Thin";


.font-hight-retro {
  font-family: $font_hight_retro;
}

.font-small-retro {
  font-family: $font_small_retro;
}

.font-hight-retro_1 {
  text-transform: lowercase;
  font-family: $font_navbar;
}

