@import "./../../../../assets/_variables";
@import "./../../../../assets/fonts/fonts";


.card {
    background-color: $color_hero;

    &-title {
        font-family: $font_hight_retro;
        letter-spacing: 2px;
        font-size: 1.2rem;
        color: $color_gray_ligth;
        padding: 0px;
    }

    &-body {
        padding: 0px;
    }

    &__preview {
        position: relative;
    }

    &__tag {
        position: absolute;
        right: 0.3rem;
        top: 0.4rem;
    }
    

}

.list-inline-item {
    font-family: $font_typewriter;
    font-size: 1rem;
    letter-spacing: 3px;
}



figure {
    padding: 0px;
    margin: 0px;
}

.large {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:991px) {
    .large {
        flex-direction: column;
    }

    app-avatar-writer {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .large {

        .card-img-top {
            border-radius: calc(.25rem - 1px);
        }


    }
}

@media screen and (min-width: 1400px) and (max-width: 1870px) {
    .large {
        figure {
            width: 40% !important;
        }
    }
}

