@import "./../../../../assets/_variables";
@import "./../../../../assets/fonts/fonts";


.card {
    padding: 10px;
    background-color: $color_hero;

    &-title {
        font-family: $font_hight_retro;
        letter-spacing: 2px;
        font-size: 1.2rem;
        color: $color_gray_ligth;
        padding: 0px;
    }

    &-body{
        padding: 0px;
    }
}

.list-inline-item {
    font-family: $font_typewriter;
    font-size: 1rem;
    letter-spacing: 3px;
}
