<article class="card" [ngClass]="size">
    <figure class="card__preview mb-2 me-lg-4">
        <a class="px-0" routerLink="/article/nuevo-curso-de-programacion-avanzado-233">
            <img [src]="course.imagePreview" class="card-img-top" alt="Java script">
        </a>
    </figure>
    <div class="card__content">
        <h5 class="card-title mt-1">{{course.title}}</h5>
        <div class="card-body mt-1">
            <ul class="mb-3 list-inline d-flex flex-column">
                <li class="list-inline-item">
                    <span class="fs-6 text-muted">{{getDescription(course.description)}}</span>
                </li>
            </ul>
        </div>
        @if (size === 'large') {
            <app-avatar-writer></app-avatar-writer>
        }
        
        
    </div>
</article>