@import "./../../../../assets/_variables";
@import "./../../../../assets/fonts/fonts";

.copy-right {
    color: $color_primary;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    font-family: $font_small_retro;
}
