@import "./../../../../../../assets/_variables";
@import "./../../../../../../assets/fonts/fonts";
.avatar {
    
    position: relative;
    display: inline-block !important;

    &__user-name {
        color: $color_gray_ligth;
        font-family: $font_navbar;
        text-transform: lowercase;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: .7rem;
    }
}

.avatar-xxl {
    height: 3rem;
    width: 3rem;
}

@media (min-width: 768px) {
    .avatar-xxl {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.list-inline {
    color: $color_gray;
    font-family: $font_typewriter;
}

.list-inline-item {
    letter-spacing: 3px;
    font-size: 0.9rem;
    .fa-brands {
        font-size: 1rem;
    }
}