.navbar {
    background-color: #4aa1ad;
    color: black;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-style: solid;
    box-shadow: 0px 0px 20px 0px;
    max-width: 50em;
}

.navbar {
    font-family: "Plane Cash";
 }

.navbar-brand {
    color: black;
}

.nav-link {
    color: black;
}

.dropdown-menu {
    background: #FCA526;
    border-style: ridge;
    border-width: 2px;
    border-radius: 27px;
    border-width: 2px;
    border-radius: 27px;
    border-bottom-style: ridge;
    border-bottom-width: 5px;
    border-color: black;
    padding: 1em;
}

.dropdown-item:hover {
    background-color: #de9322;
}

.dropdown-menu > li:first-child:hover a {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dropdown-menu > :last-child:hover a {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}